NODE_ENV=development
HOST=0.0.0.0
PORT=3030
CORS_ORIGIN=http://localhost:3000
LOG_LEVEL=info

POSTGRES_HOST=localhost
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_password
POSTGRES_DB=itareport
POSTGRES_PORT=5432
REDIS_PORT=6379

NEXT_PUBLIC_API_URL=http://localhost:3030
